body {
    padding-bottom: 30px;
}
.modal-backdrop {
    z-index: 1020;
}

body {
    color: #777;
}

.btn-default {
    color: #777;
}

.btn-primary {
    color: white;
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
    width: 1500px;
    height: 700px;

}

