<!doctype html>
<html>
<head>
  <title>Opinionated</title>
    <!-- You can use open graph tags to customize link previews.
    Learn more: https://developers.facebook.com/docs/sharing/webmasters -->
    <meta property="og:url"           content="http://014877ee.ngrok.io/" />  <!--a tunnel mirrored to my local host-->
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="Opinionated" />
    <meta property="og:description"   content="A social networking app that smooths out decision-making" />
    <meta property="og:image"         content="http://www.your-domain.com/path/image.jpg" />
</head>

<body>
<h1>Opinionated</h1>

  {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<!-- <input type="button" value="Logout" action="/logout"> -->

<a href="/logout">log out</a>
<script src="/static/facebookplay.js"></script>

	<div id="fb-root"></div>


  {% block content %} put your content here {% endblock %}

</body>
</html>
