<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Opinionated</title>
     <!--Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
{#    <script src="/static/js/wow.min.js"></script>#}

    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
{#    <link rel="stylesheet" href="/static/css/animate.css">#}
{#	<link href="/static/css/animate.min.css" rel="stylesheet">#}
    <link href="/static/css/project.css" rel="stylesheet"><!--modal window-->
	<link href="/static/css/style.css" rel="stylesheet" > <!--this is the one that enables gallery-->

    <!-- Bloodhound & Typeahead -->
    <script src="/static/typeahead/bloodhound.js"></script>
    <script src="/static/typeahead/typeahead.bundle.js"></script>
    <script src="/static/typeahead/typeahead.jquery.js"></script>


    <!-- You can use open graph tags to customize link previews.
    Learn more: https://developers.facebook.com/docs/sharing/webmasters -->
    <meta property="og:url" content="http://a6baa6c4.ngrok.io"/>
    <!--a tunnel mirrored to my local host-->
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="Opinionated"/>
    <meta property="og:description" content="A social networking app that smooths out decision-making"/>
    <meta property="og:image" content="http://www.your-domain.com/path/image.jpg"/>
        <!--<link rel="stylesheet" type="text/css"-->
          <!--href="https://cdn-static-1.medium.com/_/fp/css/fonts-full-base.KFgd5iFcfWzZUtuI2xxbwg.css"/>-->
    <!--<link rel="stylesheet" href="https://cdn-static-1.medium.com/_/fp/css/main-base.rshuTR5GLVpIn8kLmcyeUQ.css">-->
</head>

<body>
<div id="fb-root"></div>
<script src="/static/fblogin.js"></script>

<script>(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s);
    js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4&appId=141368599534524";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>



   <nav class="navbar navbar-default navbar-static-top" style="margin-bottom: 0;">
        <div class="container">
            <div class="navbar-header">
                <button type="button"
                        class="navbar-toggle collapsed"
                        data-toggle="collapse"
                        data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-brand">
                    <a href="/">Opinionated</a>
                </div>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/home">Home</a></li>
                    {% if session.get('loggedin') %}
                    <li class="dropdown">
                        <a href="/home/user/{{session.get('loggedin')}}" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                aria-haspopup="true" aria-expanded="false">Profile<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/home/user/{{session.get('loggedin')}}">User profile</a></li>
                            <li><a href="/home/edit-profile">Edit profile</a></li>
                        </ul>
                    </li>
                    {% else %}
                    <li><a href="/home/user/1">Profile</a></li> <!--a placeholder for users not logged in to hit the decorator-->
                    {% endif %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <form action="/home/search" method="post" class="navbar-form navbar-right" role="search">
                            <div class="form-group">
                                <input type="text" name="postsearch" id="tags" class="form-control tm-input tm-input-info typeahead"
                                       placeholder="Search by tag">
                            </div>
                            <button type = "submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
                        </form>
                    </li>
                    <li><a href="/home/post">Post a question</a></li>
                    <li>
                        {% if not session.get('loggedin', None) %}
                        <button type="button" class="btn btn-default navbar-btn" onclick="login()">Log in</button>
                        {% else %}
                        <button type="button" class="btn btn-default navbar-btn" onclick="logout()">Log out</button>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </nav>


<!-- Show flashed messages-->
{% with messages = get_flashed_messages() %}
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-info" role="alert" id="flash-msg">{{ message }}</div>
    {% endfor %}
{% endif %}
{% endwith %}


{% block content %} put your content here {% endblock %}
<!--<script src="/static/js/jquery.js"></script>-->

        <!-- Footer -->
        <!--<footer>-->
            <!--<div class="row">-->
                <!--<div class="col-lg-12">-->
                    <!--<p>Copyright &copy; Your Website 2014</p>-->
                <!--</div>-->
            <!--</div>-->
            <!--&lt;!&ndash; /.row &ndash;&gt;-->
        <!--</footer>-->


</body>
<script>
     var tag_names = {{ session.get('tag_names', None)|safe }};
    console.log(tag_names);


    var substringMatcher = function(strs) {
        return function findMatches(q, cb) {
      if (q === '') {
          cb(tag_names);
      }
      else {
          var matches, substringRegex;

    // an array that will be populated with substring matches
    matches = [];

    // regex used to determine if a string contains the substring `q`
    substrRegex = new RegExp(q, 'i');

    // iterate through the pool of strings and for any string that
    // contains the substring `q`, add it to the `matches` array
    $.each(strs, function(i, str) {
      if (substrRegex.test(str)) {
        matches.push(str);
      }
    });

    cb(matches);
  }
 };
};

function defTags(q, sync) {
    if (q === '') {
        sync(tag_names);
    }
    else {
        substringMatcher(tag_names);
    }
}

$('#tags').typeahead({
  hint: true,
  highlight: true,
  minLength: 1
},
{
  source: substringMatcher(tag_names)
});


    $(function() {
   $('#flash-msg').delay(500).fadeIn('normal', function() {
      $(this).delay(2500).fadeOut();
   });
});
</script>
</html>
