{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h3>{{ user.user_name }}</h3>
    <table class="table table-hover">
        <thead><tr><th>User</th><th>Since</th></tr></thead>
        {% for followed in followeds %}
        <tr>
            <td>
                <a href="/home/user/{{ followed.user_id }}">
                <img src="{{ followed.profile_pic}}">
                {{ followed.user_name }}
                </a>
            </td>
            <td>{{ followeds[followed] }}</td>
        </tr>
        {% endfor %}
    </table>
</div>


{% endblock %}