
{% extends 'base.html' %}
{% block content %}
<!--{% if session.get('loggedin') %}-->
<style type="text/css">
      .on  { background:white; }
      .off { background:grey; }
</style>

<!--<a href="/home/user/{{ session['loggedin'] }}">My page</a>-->
<!--{% endif %}-->
<!--<a href="/home/post">I want to post a question</a>-->

    <!--<form action="/home/search" method="post" class="navbar-form navbar-right" role="search">-->
        <!--<div class="form-group">-->
            <!--<input type="search" name="postsearch" id="tags" class="form-control tm-input tm-input-info typeahead"-->
                    <!--class="form-control" placeholder="Search by tag">-->
        <!--</div>-->
        <!--<button type = "submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>-->
    <!--</form>-->


<div class="container">
    <div class="row">
        <div class="col-xs-4 col-xs-offset-4">
            <a href="/home?show-all=true">Show all posts</a>
            <a href="/home?show-all=false">Show followed posts</a> <!--embed the variable show-all in the url to display different post lists -->
        </div>
    </div>
    <div class="row">
        <div class="col-xs-8">
            {% for post in posts %}
            <dl class="posts">
                <dt>
                    <h2><a href="/home/post/{{ post.post_id }}">{{ post.description }}</a></h2>

                <p class="lead">
                    by <a href="/home/user/{{post.author_id}}">{{post.author.user_name}}</a>
                </p>
                <p><span class="glyphicon glyphicon-time"></span>Posted on {{post.timestamp}}</p>
                {% if post.file_name %}
                <img src="https://s3-us-west-2.amazonaws.com/opinionated/{{post.file_name}}" alt="{{ post.description }}"
                     width="300px" height="auto" class="img-responsive">
                {% endif %}
                </dt>
                <hr>
                <dd class="col-xs-4">
                    {% for choice in post.choices %}
                    {% if choice.choice_text %}
                    {{ choice.choice_text }}
                    {% endif %}
                    <br>
                    {% if choice.file_name %}
                    <img src="https://s3-us-west-2.amazonaws.com/opinionated/{{choice.file_name}}" alt="{{ choice.choice_text}}"\
                        width="300px" height="auto">
                    {% endif %}
                </dd>
                {% endfor %}
            </dl>
         {% endfor %}
        </div>


        <div class="col-xs-4">
            <div class="well">
                <h4>Blog Tags</h4>
                    <ul class="list-unstyled">
                        {% for tag in tags %}
                        <li><a href="/home/tag/{{ tag.tag_name }}">{{ tag.tag_name }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                        <!--&lt;!&ndash; /.col-lg-6 &ndash;&gt;-->
                        <!--<div class="col-lg-6">-->
                            <!--<ul class="list-unstyled">-->
                                <!--<li><a href="#">Category Name</a>-->
                                <!--</li>-->
                                <!--<li><a href="#">Category Name</a>-->
                                <!--</li>-->
                                <!--<li><a href="#">Category Name</a>-->
                                <!--</li>-->
                                <!--<li><a href="#">Category Name</a>-->
                                <!--</li>-->
                            <!--</ul>-->
                        <!--</div>-->
                        <!-- /.col-lg-6 -->
            </div><!-- /.row -->
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery.js"></script>
<!-- jQuery/AJAX -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<!--Tag Manager -->
<script src="../static/tag/tagmanager.js"></script>
<!-- Bloodhound & Typeahead -->
<script src="../static/typeahead/bloodhound.js"></script>
<script src="../static/typeahead/typeahead.bundle.js"></script>
<script src="../static/typeahead/typeahead.jquery.js"></script>
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.0/js/bootstrap-toggle.min.js"></script>

<script>

    var tag_names = {{ tag_names|safe }};
    console.log(tag_names);


    var substringMatcher = function(strs) {
        return function findMatches(q, cb) {
      if (q === '') {
          cb(tag_names);
      }
      else {
          var matches, substringRegex;

    // an array that will be populated with substring matches
    matches = [];

    // regex used to determine if a string contains the substring `q`
    substrRegex = new RegExp(q, 'i');

    // iterate through the pool of strings and for any string that
    // contains the substring `q`, add it to the `matches` array
    $.each(strs, function(i, str) {
      if (substrRegex.test(str)) {
        matches.push(str);
      }
    });

    cb(matches);
  }
 };
};

function defTags(q, sync) {
    if (q === '') {
        sync(tag_names);
    }
    else {
        substringMatcher(tag_names);
    }
}

$('#tags').typeahead({
  hint: true,
  highlight: true,
  minLength: 1
},
{
  source: substringMatcher(tag_names)
});


</script>

{% endblock %}