
{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
            <form action='/home/post/process' method='post' enctype="multipart/form-data">
                <div class="form-group">
                <label><h4>Description of your questions</h4>
                    <textarea rows="4" cols="120" name="description" class="form-control" placeholder="Please enter a description of your question here" required></textarea>
                </label>
                </div>
                <div class="form-group">
                    <label><h4>Upload a file for your question <small>(File types allowed: .txt, .pdf, .png, .jpg, .jpeg, .gif)</small></h4>
                        <input type="file" name="fileupload_question" class="img" id="img-upload">
                        <img id="img-preview" src="" width="auto" height="300" class="img-responsive">
                    </label>
                </div>

                <hr>
                <div class="col-md-6">
                    <div class="form-group">
                        <label><h4>Option 1</h4>
                            <textarea rows="4" cols="50" name="option1" class="form-control" placeholder="The description of first choice"></textarea>
                        </label>
                        <label><h4>Upload file <small>(File types allowed: .txt, .pdf, .png, .jpg, .jpeg, .gif)</small></h4>
                            <input type="file" name="fileupload1" id="img-upload1" class="img">
                            <img id="img-preview1" src="" width="auto" height="300" class="img-responsive"/>
                        </label>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label><h4>Option 2</h4>
                            <textarea rows="4" cols="50" name="option2" class="form-control" placeholder="The description of second choice"></textarea>
                        </label>
                        <label><h4>Upload file <small>(File types allowed: .txt, .pdf, .png, .jpg, .jpeg, .gif)</small></h4>
                            <input type="file" name="fileupload2" id="img-upload2" class="img">
                            <img id="img-preview2" src="" width="auto" height="300" class="img-responsive"/>
                        </label>
                    </div>
                </div>
                <br>
                <br>
                <div class="form-group">
                    <div class="col-xs-12">
                        <div id="tags">
                           <label><h4>Enter your tags here</h4></label>
                           <input class="form-control tm-input tm-input-info typeahead" type="text" placeholder="Tags" name="tags">
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <input type="submit" class="btn btn-default">
                </div>
            </form>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery.js"></script>
<!-- jQuery/AJAX -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<!--Tag Manager -->
<script src="../static/tag/tagmanager.js"></script>
<!-- Bloodhound & Typeahead -->
<script src="../static/typeahead/bloodhound.js"></script>
<script src="../static/typeahead/typeahead.bundle.js"></script>
<script src="../static/typeahead/typeahead.jquery.js"></script>

<script>

    var tag_names = {{ tag_names|safe }};
    console.log(tag_names);

    jQuery(".tm-input").tagsManager({
        CapitalizeFirstLetter: false,
        AjaxPush: null,
        AjaxPushallTags: null,
        AjaxPushParameters: null,
        delimiters:[9, 13, 44], //tab, enter, comma
        backspace: [8], //backspace removes the rightmost tag
        hiddenTagListName: 'hidden_tags',
        onlyTagList: false,
        tagList: tag_names

    });

var substringMatcher = function(strs) {
  return function findMatches(q, cb) {
      if (q === '') {
          cb(tag_names);
      }
      else {
          var matches, substringRegex;

    // an array that will be populated with substring matches
    matches = [];

    // regex used to determine if a string contains the substring `q`
    substrRegex = new RegExp(q, 'i');

    // iterate through the pool of strings and for any string that
    // contains the substring `q`, add it to the `matches` array
    $.each(strs, function(i, str) {
      if (substrRegex.test(str)) {
        matches.push(str);
      }
    });

    cb(matches);
  }
 };
};

function defTags(q, sync) {
    if (q === '') {
        sync(tag_names);
    }
    else {
        substringMatcher(tag_names);
    }
}

$('#tags .typeahead').typeahead({
  hint: true,
  highlight: true,
  minLength: 1
},
{
  source: substringMatcher(tag_names)
});


function readURL(input,element) {
    console.log(element);
    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
            $(element).attr('src', e.target.result);
        };

        reader.readAsDataURL(input.files[0]);
    }
}

    $(".img").change(function(){
        console.log(this.id);
        if ((this.id) === "img-upload1"){
            var preview = "#img-preview1"
        } else if ((this.id) === "img-upload2") {
            var preview = "#img-preview2"
        } else {
            var preview = "#img-preview"
        }

        readURL(this, preview);
    });


</script>

{% endblock %}