{% extends 'base.html' %}
{% block content %}

<a href="/home">Home</a>

<ul class="posts">

    <li class="posts">
        <div>
            <a href="/home/user/{{ post.author.user_id }}">{{ post.author.user_name }}</a>
        </div>
        {{ post.description }} ({{ total_votes }} people have voted on this)
    <form action="/home/post/{{ post.post_id }}/refresh" method="post">
        {% for choice in choices %}
        <div>
            {% if choice.text_choice %}
            <input type="radio" name="vote" value="{{ choice.choice_id }}">{{ choice.text_choice }}
            <div id="option1">
                number of votes: {{ vote_dict[choice] }}
                {% if total_votes != 0 %}
                    percentage: {{ vote_dict[choice]/ total_votes }}
                {% else %}
                    <p>No one has voted yet</p>
                {% endif %}
            {% endif %}
            </div>

        </div>

        <div>
            {% if choice.file_name %}
            <input type="radio" name="vote" value="{{ choice.choice_id }}">{{ choice.file_name }}
            <div id="option2">
                {{ vote_dict[choice] }}
                {% if total_votes != 0 %}
                    {{ vote_dict[choice]/ total_votes }}
                {% else %}
                    <p>No one has voted yet</p>
                {% endif %}
            {% endif %}
            </div>

        </div>
        {% endfor %}
    <input type="submit">
    </form>
    </li>
</ul>

<h3>Comments</h3>
<form action="/home/post/{{post.post_id}}/comment/refresh" method="post">
    <textarea rows="4" cols="100" name="new_comment"></textarea>
    <br>
    <input type="submit">
</form>

<ul class="comments">
    {% if comments %}

        {% for comment in comments %}
        <li>
            <a href="/home/user/{{ comment.user_id }}">{{ comment.user.user_name }}</a>:
            {{ comment.content }}
        </li>
        {% endfor %}

    {% else %}
        <p>Oops, looks like no one has commented yet</p>
    {% endif %}

</ul>




<!--<script src="https://code.jquery.com/jquery.js"></script>-->
<!--<script>-->
    <!--function updateVote(evt) {-->
        <!--var vote =-->
    <!--}-->
    <!--$.post('')-->


<!--</script>-->

{% endblock %}