{% extends 'base.html' %}
{% block content %}

<a href="/home">Home</a>
{% if post.author_id == session['loggedin'] %}
<form action="/home/post/{{ post.post_id }}/delete" method="post">
   <input type="submit" value="Delete post" id="delete-post">
</form>
{% endif %}

 <!-- Your share button code -->
    <div class="fb-share-button"
        data-href="http://014877ee.ngrok.io/home/post/{{ post.post_id }}"
        data-layout="button_count">
    </div>

<ul class="posts">

    <li class="posts">
        <div>
            <a href="/home/user/{{ post.author.user_id }}">{{ post.author.user_name }}</a>
        </div>
        {{ post.description }} (<span id="total-vote">{{ total_votes }}</span> people have voted on this)
        <br>
        <div class="container">
            {% if post.file_name %}
            <img src="https://s3-us-west-2.amazonaws.com/opinionated/{{post.file_name}}" alt="{{ post.description }}"\
                    width="300px" height="auto">
            {% endif %}
        </div>

        tags:
        {% for tag in tag_names %}
        <a href="/home/tag/{{ tag }}">{{ tag }}</a>
        {% endfor %}


    <form action="/home/post/{{ post.post_id }}/refresh" method="post" id="vote-form">

            {% for choice in choices %}

                {% if choice.choice_text and choice.file_name %}
                     <input type="radio" name="choice_id" value="{{ choice.choice_id }}" class="choice">
                     <div>{{ choice.choice_text }}</div>
                     <div>
                         <img src="https://s3-us-west-2.amazonaws.com/opinionated/{{choice.file_name}}" alt="{{ choice.choice_text }}" width="300px" height="auto">
                     </div>

                {% elif choice.file_name %}
                     <input type="radio" name="choice_id" value="{{ choice.choice_id }}" class="choice">
                     <div>
                         <img src="https://s3-us-west-2.amazonaws.com/opinionated/{{choice.file_name}}" alt="{{ choice.file_name }}" width="300px" height="auto">
                     </div>
                {% else  %}
                     <input type="radio" name="choice_id" value="{{ choice.choice_id }}" class="choice">
                     <div>{{ choice.choice_text }}</div>
                {% endif %}

                <div>
                    number of votes: <span id="vote-count-{{ choice.choice_id }}">{{ vote_dict[choice.choice_id] }}</span>
                    <span id="vote-count-percent-{{choice.choice_id}}"></span>
                    {% if total_votes > 0 %}
                    <span class="vote-count-percent">Percentage: {{ vote_dict[choice.choice_id]/ total_votes }}</span>
                    {% else %}
                    <p class="no-vote">No one has vote yet</p>
                    {% endif %}
                </div>
            {% endfor %}

    <input type="submit" value="Vote" id="submit-vote">
    </form>
    </li>
</ul>

    <div>
        <button type="button" id="previous-post" onclick="previousPost({{ post.post_id }}, {{ post_ids }})">
            scroll to previous post
        </button><span id="previous-msg"></span>
    </div>
    <div>
        <button type="button" id="next-post" onclick="nextPost({{ post.post_id }}, {{ post_ids }})">
            scroll to next post
        </button><span id="next-msg"></span>
    </div>

<h3>Comments</h3>
<form action="/home/post/{{post.post_id}}/comment/refresh" method="post" id="comment-form">
    <textarea rows="4" cols="100" name="new_comment" id="comment-content"></textarea>
    <br>
    <input id="comment-submit-button" type="submit">
</form>



<ul class="comments">
    {% if comments %}
        {% for comment in comments %}
        <li>
            <a href="/home/user/{{ comment.user_id }}">{{ comment.user.user_name }}</a>:
            {{ comment.content }}
            <!--<div id="ajax-delete" hidden>-->
                <!--<form action="/home/comment/{{ comment.comment_id }}/delete" method="post">-->
                    <!--<input type="submit" value="Delete comment" class="delete-comment">-->
                <!--</form>-->
            <!--</div>-->
            {% if comment.user_id == session['loggedin'] %}
            <div id="server-delete">
                <form action="/home/comment/{{ comment.comment_id }}/delete" method="post">
                    <input type="submit" value="Delete comment" class="delete-comment">
                </form>
            </div>
            {% endif %}
        </li>
        {% endfor %}

    {% else %}
        <p id="no-comment">Oops, looks like no one has commented yet</p>
    {% endif %}

</ul>


<script src="https://code.jquery.com/jquery.js"></script>
<script>



    function handleComments(evt) {
        evt.preventDefault();
        var formInputs = {comment: $("#comment-content").val()};
        $.post('/home/post/{{post.post_id}}/comment/refresh', formInputs, function (result) {
            console.log(result.has_delete_button);
            console.log(typeof(result.has_delete_button));
            $('.comments').append('<li><a href="/home/user/'+ result.user_id + '">'+ result.user_name + '</a>:'+ result.content + '</li>'+
                            '<form action="/home/comment/'+result.comment_id+'/delete" method="post">' +
                    '<input type="submit" value="Delete comment" class="delete-comment">' +
                '</form>'
            );
            $('#no-comment').empty();
            $('#comment-content').val('');
            })
        }
$('#comment-form').on('submit', handleComments);



    function handleVote(evt) {
        evt.preventDefault();
        var formInputs = {choice_id: $('input[type="radio"][name="choice_id"]:checked').val()};

        $.post('/home/post/{{post.post_id}}/refresh', formInputs, function (result) {

            result = JSON.parse(result);

            var vote_count = result[0];
            var vote_count_percent = result[1];
            var total_vote = result[2];


            for (var choice_id in vote_count) {
                $('#vote-count-'+choice_id).html(vote_count[choice_id].toString());
                $('.no-vote').empty()
            }
            for (var choice_id in vote_count_percent) {

                  $('#vote-count-percent-'+choice_id).html("percentage:"+vote_count_percent[choice_id].toString());
                  $('.vote-count-percent').empty();
                }
            $('#total-vote').html(total_vote.toString());
        })
    }
$('#vote-form').on('submit', handleVote);



    function deletePost(evt) {
        confirm("Are you sure you want to delete the post");

    }

$('#delete-post').on('click', deletePost);

       function deleteComment(evt) {
        confirm("Are you sure you want to delete the comment");

    }

$('.delete-comment').on('click', deleteComment);


  function previousPost (post_id, post_ids) {
      var idx = post_ids.indexOf(post_id);
      if (idx > 0) {
          var previous = post_ids[idx - 1];
          location.href = previous.toString();
      } else {
          $('#previous-post').attr('disabled', true);
          $('#previous-msg').html('This is the first post');
      }

  }

  function nextPost (post_id, post_ids) {
      var idx = post_ids.indexOf(post_id);
      if (idx < post_ids.length - 1) {
          var next = post_ids[idx + 1];
          location.href = next.toString();
      } else {
          $('#next-post').attr('disabled', true);
          $('#next-msg').html('This is the last post');
      }

  }





</script>

{% endblock %}