
{% extends 'base.html' %}
{% block content %}

<a href="/home/user/{{ session['loggedin'] }}">My page</a>

<a href="/home/post">I want to post a question</a>

<ul class="posts">
    {% for post in posts %}

    <li class="posts">
        <div>
            <a href="/home/post/{{ post.post_id }}">{{ post.description }}</a>
        </div>
        {% for choice in post.choices %}
        <div>
            {% if choice.text_choice %}
            {{ choice.text_choice }}
            {% endif %}
        </div>

        <div>
            {% if choice.file_name %}


        <div class="col-xs-2"></div>
        <b><img src="https://s3-us-west-2.amazonaws.com/opinionated/{{hash_files[choice]}}">{{ choice.file_name }}</img></b>
        <span class="glyphicon glyphicon-remove-circle file" data-file="{{choice.choice_id}}"></span>

            {% endif %}
        </div>
        {% endfor %}
    </li>

    {% endfor %}
</ul>

{% endblock %}