
{% extends 'base.html' %}
{% block content %}
<form action='/home/post/process' method='post' enctype="multipart/form-data">
    <label>Short Description of your questions
        <textarea rows="4" cols="50" name="description"></textarea>
    </label>
    <div class="image question">
            <label>Upload an image for your question
                <input type="file" name="fileupload_question" class="img" id="img-upload">
                <img id="img-preview" src="" alt="your image" width="300px" height="auto"/>
            </label>
    </div>
    <div>
        <div class="text choice">
            <label>Option 1
                <textarea rows="4" cols="20" name="option1"></textarea>
            </label>
        </div>
        <div class="image choice">
            <label>Upload image
                <input type="file" name="fileupload1" id="img-upload1" class="img">
                <img id="img-preview1" src="" alt="your image" width="300px" height="auto"/>
            </label>
        </div>
    </div>

    <div>
        <div class="text choice">
            <label>Option 2
                <textarea rows="4" cols="20" name="option2"></textarea>
            </label>
        </div>
        <div class="image choice">
            <label>Upload image
                <input type="file" name="fileupload2" id="img-upload2" class="img">
                <img id="img-preview2" src="" alt="your image" width="300px" height="auto"/>
            </label>
        </div>
    </div>
    <br>

    <div id="tags">
        <label>Enter your tags here</label>
        <br>
        <input class="form-control tm-input tm-input-info typeahead" type="text" placeholder="Tags" name="tags">
    </div>
    <br>
    <br>
    <br>
    <input type="submit">
</form>

<script src="https://code.jquery.com/jquery.js"></script>
<!-- jQuery/AJAX -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<!--Tag Manager -->
<script src="../static/tag/tagmanager.js"></script>
<!-- Bloodhound & Typeahead -->
<script src="../static/typeahead/bloodhound.js"></script>
<script src="../static/typeahead/typeahead.bundle.js"></script>
<script src="../static/typeahead/typeahead.jquery.js"></script>

<script>

    var tag_names = {{ tag_names|safe }};
    console.log(tag_names);

    jQuery(".tm-input").tagsManager({
        CapitalizeFirstLetter: false,
        AjaxPush: null,
        AjaxPushallTags: null,
        AjaxPushParameters: null,
        delimiters:[9, 13, 44], //tab, enter, comma
        backspace: [8], //backspace removes the rightmost tag
        hiddenTagListName: 'hidden_tags',
        onlyTagList: false,
        tagList: tag_names

    });

var substringMatcher = function(strs) {
  return function findMatches(q, cb) {
      if (q === '') {
          cb(tag_names);
      }
      else {
          var matches, substringRegex;

    // an array that will be populated with substring matches
    matches = [];

    // regex used to determine if a string contains the substring `q`
    substrRegex = new RegExp(q, 'i');

    // iterate through the pool of strings and for any string that
    // contains the substring `q`, add it to the `matches` array
    $.each(strs, function(i, str) {
      if (substrRegex.test(str)) {
        matches.push(str);
      }
    });

    cb(matches);
  }
 };
};

function defTags(q, sync) {
    if (q === '') {
        sync(tag_names);
    }
    else {
        substringMatcher(tag_names);
    }
}

$('#tags .typeahead').typeahead({
  hint: true,
  highlight: true,
  minLength: 1
},
{
  source: substringMatcher(tag_names)
});


function readURL(input,element) {
    console.log(element);
    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
            $(element).attr('src', e.target.result);
        };

        reader.readAsDataURL(input.files[0]);
    }
}

    $(".img").change(function(){
        console.log(this.id);
        if ((this.id) === "img-upload1"){
            var preview = "#img-preview1"
        } else if ((this.id) === "img-upload2") {
            var preview = "#img-preview2"
        } else {
            var preview = "#img-preview"
        }

        readURL(this, preview);
    });

//
//
//function previewImg(){
//    var pair = {"#img-upload1":"#img-preview1", "#img-upload2":"#img-preview2"};
//    for (var key in pair) {
//        console.log
//        $(".img").change(function(){readURL(this, pair[key]);});
//    }
//}
//
//previewImg()

</script>

{% endblock %}