{% extends 'base.html' %}
{% block content %}

<a href="/home">Home</a>

<h3>{{ user.user_name }}</h3>
<img src="{{ user.profile_pic }}">
{% if user.user_name or user.location %}
<p>
    {% if user.user_name %}{{ user.user_name }}{% endif %}
    {% if user.location %}
        From <a href="http://maps.google.com/?q={{ user.location }}">{{ user.location }}</a>
    {% endif %}
</p>
{% endif %}


{% if user.user_id == session.get('loggedin') %}
<a href="/home/edit-profile">
    Edit Profile
</a>
{% endif %}

<h3>All my posts</h3>

<ul class="posts">
    {% for post in posts %}
    <li class="posts">
        <div>
            <a href="/home/post/{{ post.post_id }}">{{ post.description }}</a>
        </div>
        <div class="container">
            {% if post.file_name %}
            <img src="https://s3-us-west-2.amazonaws.com/opinionated/{{post.file_name}}" alt="{{ post.description }}"\
                    width="300px" height="auto">
            {% endif %}
        </div>

        {% for choice in post.choices %}
        <div>
            {% if choice.choice_text %}
             {{ choice.choice_text }}
            {% endif %}
        </div>

        <div>
            {% if choice.file_name %}
            <div class="container">
                 <img src="https://s3-us-west-2.amazonaws.com/opinionated/{{choice.file_name}}" alt="{{ choice.choice_text }}" width="300px" height="auto">
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </li>
    {% endfor %}
</ul>

<h3>All my votes</h3>

<ul class="votes">

    {% for vote in votes %}


    <li class="votes">
        <div>
            <a href="/home/post/{{ vote.choice.post_id }}">{{ vote.choice.post.description }}</a>
        </div>
        <div>
            {% if vote.choice.choice_text %}
            I voted on {{ vote.choice.choice_text }}
            {% else %}
            I voted on {{ vote.choice.file_name }}
            {% endif %}
        </div>

    </li>
    {% endfor %}
</ul>


{% endblock %}