{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="col-md-3">
        <img src="{{ user.profile_pic }}" class="img-responsive">
        {% if user.user_name or user.location %}
        <p>
            {% if user.user_name %}<h4><a href="/home/user/{{ user.user_id }}">{{ user.user_name }}</a></h4>{% endif %}
            {% if user.location %}
            From <a href="http://maps.google.com/?q={{ user.location }}">{{ user.location }}</a>
            {% endif %}
            {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
        </p>
        {% endif %}

        <!--Edit profile button-->
        {% if user.user_id == session.get('loggedin') %}
        <a href="/home/edit-profile">
            Edit Profile
        </a>
        {% endif %}
        <br>

        <!--Follow a person or unfollow-->
        <a href="/home/followers/{{ user.user_id }}">Followers <span>{{user.followers.count()}}</span></a><br>
        <a href="/home/followeds/{{ user.user_id }}">Following <span>{{user.followed.count()}}</span></a>
        <hr>
        <!--Count of followers and following-->
        {% if user.user_id != session.get('loggedin') %}
        {% if not viewer.is_following(user) %}
        <a href="/home/follow/{{user.user_id}}">Follow</a>
        {% else %}<br>
        <a href="/home/unfollow/{{user.user_id}}">Unfollow</a>
        {% endif %}
        {% endif %}

    </div>
    <div class="col-md-9" id="tab">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#posts" aria-controls="posts" role="tab" data-toggle="tab">My posts</a></li>
        <li role="presentation"><a href="#votes" aria-controls="votes" role="tab" data-toggle="tab">My votes</a></li>
    </ul>
    <!--Tab panels-->
    <div class="col-md-9" id="tab">
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="posts">
                <h3>My posts</h3>
                    {% for post in posts %}
                    <div class="row">
                        <div class="span-4 collapse-group">
                            <h4><a href="/home/post/{{ post.post_id }}">{{ post.description }}</a></h4>
                            {% if post.file_name %}
                            <img src="https://s3-us-west-2.amazonaws.com/opinionated/{{post.file_name}}"
                                 alt="{{ post.description }}" \
                                 width="300px" height="auto">
                            {% endif %}
                            <div class="collapse" id="{{post.post_id}}">
                                {% for choice in post.choices %}
                                <div class="col-md-6">
                                    {% if choice.choice_text %}
                                    <p>{{ choice.choice_text }}</p>
                                    {% endif %}
                                    {% if choice.file_name %}
                                    <img src="https://s3-us-west-2.amazonaws.com/opinionated/{{choice.file_name}}"
                                         alt="{{ choice.choice_text }}" width="300px" height="auto">
                                    {% endif %}
                                </div>
                                {% endfor %}
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-xs-12">
                                    <br>
                                    <a class="btn btn-primary button-xs" role="button" data-toggle="collapse" href="#{{post.post_id}}"
                                  aria-controls="{{post.post_id}}">view choices &raquo;</a>
                                </div>
                            </div>
                        </div>
                        <hr>
                    </div>
                {% endfor %}
            </div>
            <div role="tabpanel" class="tab-pane" id="votes">
                <h3>My votes</h3>
                    {% for vote in votes %}
                    <h4><a href="/home/post/{{ vote.choice.post_id }}">{{ vote.choice.post.description }}</a></h4>
                    {% if vote.choice.choice_text %}
                    You voted on {{ vote.choice.choice_text }}
                    {% else %}
                    You voted on {{ vote.choice.file_name }}
                    {% endif %}
                    <hr>
                    {% endfor %}
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}